<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InmobiliariaSosa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="icon" href="~/img/favicon.png" type="image/x-icon" />
    <script type="text/javascript" onl>

        function login() {

            $("#loginModal").modal("show");
        }
        function datos(q) {
               $.ajax({//documentación: https://api.jquery.com/jquery.ajax/
                url: `@Url.Action("Datos", "Usuario")`,
                method: "POST",
                data: {
                    correo : q.toString()
                },
                dataType: "json"
            }).done(res => {
                $.each(res, function (i, item) {

                    for (var val in item) {


                        $("#IdUsu")[0].value = item.id;
                        $("#NombreUsu")[0].value = item.nombre;
                        $("#ApellidoUsu")[0].value = item.apellido;
                        $("#EmailUsu")[0].value = item.email;

                        $("#imgPerfil")[0].src = item.avatar;
                    }
                });


            }).fail(res => {
                console.log("Error: ", res);
            });
            $("#editarModalUsu").modal("show");


        }
         /*function enviar() {
               $.ajax({//documentación: https://api.jquery.com/jquery.ajax/
                url: `@Url.Action("Datos", "Usuario")`,
                method: "POST",
                data: {
                    Id: q.toString(),
                    Nombre:
                    Apellido:


                },
                dataType: "json"
            }).done(res => {
                $.each(res, function (i, item) {

                    for (var val in item) {


                        $("#IdUsu")[0].value = item.id;
                        $("#NombreUsu")[0].value = item.nombre;
                        $("#ApellidoUsu")[0].value = item.apellido;
                        $("#EmailUsu")[0].value = item.email;

                        $("#imgPerfil")[0].src = item.avatar;
                    }
                });


            }).fail(res => {
                console.log("Error: ", res);
            });
            $("#editarModalUsu").modal("show");


        }*/

    </script>
</head>
<body class="bg-gradient-light">
    <header>
     
        <nav class="site-header py-1">
            <!-- sticky-top -->
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="py-2 btn btn-primary  text-light" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Inicio</a>
                    <a class="py-2 d-none d-md-inline-block float-right btn btn-primary  text-light" href="javascript:login()">
                        <i class="fas fa-sign-in-alt"></i> Acceder
                    </a>
                }
                else
                {
                    
                        <a class="btn btn-primary  text-light" asp-controller="Home" asp-action="Index"  >
                            <i class="fas fa-home"></i> Inicio
                        </a>
                       
                    
                    @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
                    {

                        <a class="py-2 d-none d-md-inline-block btn btn-primary" asp-controller="Usuario" asp-action="Index"><i class="fas fa-users"></i> Usuarios</a>}
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle text-light" href="#" role="button" id="personaMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                            <i class="fas fa-users"></i> Personas
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-dark" asp-controller="Propietario" asp-action="Index"><i class="fas fa-user"></i> Propietarios</a>
                            <a class="dropdown-item text-dark" asp-controller="Garante" asp-action="Index"><i class="fas fa-user"></i> Garantes</a>
                            <a class="dropdown-item text-dark" asp-controller="Inquilino" asp-action="Index"><i class="fas fa-user"></i> Inquilinos</a>
                        </div>
                    </div>

                    <a class="py-2 d-none d-md-inline-block btn btn-primary" asp-controller="Inmueble" asp-action="Index" asp-route-id="0"><i class="far fa-building"></i> Inmuebles</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-primary" asp-controller="Contrato" asp-action="Index"><i class="fas fa-file-contract"></i> Contratos</a>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle text-light" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                            <i class="fas fa-user"></i> @User.Identity.Name
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-dark"   href='javascript:datos("@User.Identity.Name.ToString()")' ><i class="fas fa-users-cog"></i> Perfil</a>
                            <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Salir</a>
                        </div>
                    </div>}
            </div>
        </nav>
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Iniciar Sesion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="Usuario" asp-action="Login">

                            <div class="form-group">
                                <label for="Email" class="control-label">Email </label>
                                <input type="email" name="Email" class="form-control" required />
                            </div>

                            <div class="form-group">
                                <label for="Clave" class="control-label">Contraseña</label>
                                <input type="password" name="Clave" class="form-control" required />
                                <span for="Clave" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Iniciar Sesion" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editarModalUsu" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarModalLabel">Editar Usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Perfil" asp-controller="Usuario" enctype="multipart/form-data">
                            <input type="hidden" id="IdUsu" name="Id" value="" />
                            <div class="form-group">
                                <label for="Nombre" class="control-label">Nombre</label>
                                <input name="Nombre" class="form-control" id="NombreUsu" required />
                                <span for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Apellido" class="control-label">Apellido</label>
                                <input name="Apellido" class="form-control" id="ApellidoUsu" required />
                                <span for="Apellido" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="control-label">Email</label>
                                <input name="Email" type="email" class="form-control" id="EmailUsu" required />
                                <span for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Clave" class="control-label">Antigua Contraseña</label>
                                <input name="Clave" type="password" class="form-control" />
                                <span for="Clave" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Clave" class="control-label">Nueva Contraseña</label>
                                <input name="ClaveNueva" type="password" class="form-control" />
                                <span for="Clave" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <img width="32" src="" id="imgPerfil"/>
                                
                            </div>
                            <div class="form-group">
                                <label for="AvatarFile" class="control-label">Foto de perfil</label>
                                <input type="file" name="AvatarFile" />
                                <span for="AvatarFile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Editar" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        @if (ViewBag.error != null)
        {
            <p>@ViewBag.error</p>
        }
        @if (ViewBag.mensaje != null)
        {
            <p>@ViewBag.mensaje</p>
        }
        @if (ViewBag.correcto != null)
        {
            <p>@ViewBag.correcto</p>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Today.Year - InmobiliariaSosa -  <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//momentjs.com/downloads/moment.min.js"></script>
    <script src="https://kit.fontawesome.com/6894de73e8.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
