@model IEnumerable<InmobiliariaSosa.Models.Propietario>

@{
    ViewData["Title"] = "Propietario";
}
<script type="text/javascript" onl>
    function editar(x){

        $("#editarModal").modal("show");
        
        var nombre = $('#' + x + '-nombre')[0].innerText;
        var apellido = $('#' + x + '-apellido')[0].innerText;
        var dni = $('#' + x + '-dni')[0].innerText;
        var email = $('#' + x + '-mail')[0].innerText;
        var telefono = $('#' + x + '-tel')[0].innerText;
        $("#idPropietario")[0].value = x;
        $("#nombre")[0].value = nombre;
        $("#apellido")[0].value = apellido;
        $("#dni")[0].value = dni;
        $("#telefono")[0].value = telefono;
        $("#email")[0].value = email;
        

    }
</script>
<h1>Propietarios</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearModal">
    Crear Propietario
</button>

<div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="crearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearModalLabel">Crear Propietario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div class="text-danger"></div>
                    <div class="form-group">
                        <label for="nombre" class="control-label">Nombre</label>
                        <input type="text" name="nombre" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label for="apellido" class="control-label">apellido</label>
                        <input type="text" name="apellido" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="dni" class="control-label">dni</label>
                        <input type="text" name="dni" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="telefono" class="control-label">telefono</label>
                        <input type="tel" name="telefono" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">email</label>
                        <input type="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="clave" class="control-label">clave</label>
                        <input type="password" name="clave" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPropietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idPropietario)
                </td>
                <td id="@item.idPropietario-nombre">
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td id="@item.idPropietario-apellido">
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td id="@item.idPropietario-dni">
                    @Html.DisplayFor(modelItem => item.dni)
                </td>
                <td id="@item.idPropietario-tel">
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td id="@item.idPropietario-mail">
                    @Html.DisplayFor(modelItem => item.email)
                </td>
           
                <td>
                    <div class="btn-group" role="group" aria-label="">
                        <a class="btn btn-primary" href="javascript:editar(@item.idPropietario)" title="Editar">

                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-primary" asp-action="details" asp-route-id="@item.idPropietario" title="Detalles"><i class="fas fa-info-circle"></i></a>
                        <a class="btn btn-danger" asp-action="delete" asp-route-id="@item.idPropietario" title="Eliminar"><i class="fas fa-trash"></i></a>
                        <a class="btn btn-primary" asp-action="Index" asp-controller="Inmueble" asp-route-id="@item.idPropietario" title="Mis Propiedades"><i class="far fa-building"></i> </a>
                    </div>


                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Propietario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <input type="hidden"  id="idPropietario" name="idPropietario" value="" />
                    <div class="text-danger"></div>
                    <div class="form-group">
                        <label for="nombre" class="control-label">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" value="" />

                    </div>
                    <div class="form-group">
                        <label for="apellido" class="control-label">apellido</label>
                        <input type="text"  id="apellido" name="apellido" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="dni" class="control-label">dni</label>
                        <input type="text" id="dni" name="dni" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="telefono" class="control-label">telefono</label>
                        <input type="tel" id="telefono" name="telefono" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">email</label>
                        <input type="email" id="email" name="email" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="clave" class="control-label">clave</label>
                        <input type="text" id="clave" name="clave" class="form-control" value="" />

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Editar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
