@model IEnumerable<InmobiliariaSosa.Models.Contrato>

@{
    ViewData["Title"] = "Contrato";
}
<script type="text/javascript" onl>
    function calcular(x,pre,fec) {
        var fechadesde = $('#' + x + '-FechaDesde')[0].innerText+"";
        var fechahasta = $('#' + x + '-FechaHasta')[0].innerText + "";
        var hoy = moment(fec);
        var fecha1 = moment(fechadesde);
        var fecha2 = moment(fechahasta);
        
        var difhoy = hoy.diff(fecha1, 'days');
        var dif = fecha2.diff(fecha1, 'days');
        var mitad = dif / 2;
        if (mitad > difhoy) {
            var total = pre * 2;
            alert("debera pagar como multa $" + total + " pesos por cancelar y permanecer menos de la mitad del tiempo");
        } else {
            var total = pre;
            alert("debera pagar como multa $" + total + " pesos por cancelar y permanecer mas de la mitad del tiempo")
        }
        console.log(dif);
        console.log(difhoy);
    }
    function buscar(a) {
        if (a == 0) {
            $("#selectNew").empty();
            var desde = $('#desdeNew')[0].value;
            var hasta = $('#hastaNew')[0].value;
            return $.ajax({//documentación: https://api.jquery.com/jquery.ajax/
                url: `@Url.Action("Buscar", "Contrato")`, // localhoosy/Contrato/Buscar
                method: "POST",
                data: {
                    id: 0,
                    desde: desde,
                    hasta: hasta
                },
                dataType: "json"
            }).done(res => {
                $('#ocultoNew').css("display", "block");

                $.each(res, function (i, item) {
                    for (var val in item) {

                        $('#selectNew').append($('<option>', {
                            value: item[val].id,
                            text: item[val].direccion
                        }));
                    }
                });
            }).fail(res => {
                console.log("Error: ", res);
            });

        } else {
            $("#selectNew").empty();
            var desde = $('#FechaDesde')[0].value;
            var hasta = $('#FechaHasta')[0].value;
            return $.ajax({//documentación: https://api.jquery.com/jquery.ajax/
                url: `@Url.Action("Buscar", "Contrato")`,
                method: "POST",
                data: {
                    id: a,
                    desde: desde,
                    hasta: hasta
                },
                dataType: "json"
            }).done(res => {
                $("#IdInmueble").empty();

                $.each(res, function (i, item) {
                    for (var val in item) {

                        $('#IdInmueble').append($('<option>', {
                            value: item[val].id,
                            text: item[val].direccion
                        }));
                    }
                });
            }).fail(res => {
                console.log("Error: ", res);
            });
        }
    }
    function seguro() {
        var respuesta = confirm("Esta seguro de cancelar este pago? (recuerde que no podra revertirse este cambio)");

        return respuesta;

    }
    function editar(x){

        $("#editarModal").modal("show");

        var inquilino = $('#' + x + '-IdInquilino')[0].value;
        var inmueble = $('#' + x + '-IdInmueble')[0].value;
        var fechadesde = $('#' + x + '-FechaDesde')[0].innerText;
        var fechahasta = $('#' + x + '-FechaHasta')[0].innerText;
        var garante = $('#' + x + '-IdGarante')[0].value;
        var precio = $('#' + x + '-Precio')[0].innerText;
        var estado = $("#EstadoV")[0].value;
        var fechaD = dayjs(fechadesde, "DD-MM-YYYY");
        var fechaH = dayjs(fechahasta, "DD-MM-YYYY");
        
        $("#Id")[0].value = x;
        $("#FechaDesde")[0].value = fechaD.format("YYYY-MM-DD");
        $("#FechaHasta")[0].value = fechaH.format("YYYY-MM-DD");
        $("#precioEdit")[0].value = precio;
        $("#EstadoE")[0].value = estado;
        $("#btnEdit").attr('onclick', `buscar(${inmueble});`);
        $("#IdInquilino option:selected").removeAttr("selected");
        $("#IdInquilino option[value=" + inquilino + "]").attr("selected", true);
        $("#IdInmueble option:selected").removeAttr("selected");
        $("#IdInmueble option[value=" + inmueble + "]").attr("selected", true);
        $("#IdGarante option:selected").removeAttr("selected");
        $("#IdGarante option[value=" + garante + "]").attr("selected", true);
       

    }
</script>
<h1>Contrato</h1>
<div class="btn-group" role="group" aria-label="">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearModal">
        Crear Contrato
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">
        Filtro de Inmuebles
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#VigenteModal">
        Contratos Vigentes
    </button>
</div>
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Inmuebles por fecha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Index" asp-controller="Inmueble">
                    <div class="form-group">
                        <label for="Desde" class="control-label">Fecha Ingreso</label>
                        <input type="date" name="Desde" class="form-control" />
                        <span for="Desde" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Hasta" class="control-label">Fecha Salida</label>
                        <input type="date" name="Hasta" class="form-control" />
                        <span for="Hasta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Buscar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="VigenteModal" tabindex="-1" aria-labelledby="VModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VModalLabel">Contratos vigentes por fechas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Index" asp-controller="Contrato">
                    <div class="form-group">
                        <label for="Desde" class="control-label">Fecha Ingreso</label>
                        <input type="date" name="Desde" class="form-control" />
                        <span for="Desde" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Hasta" class="control-label">Fecha Salida</label>
                        <input type="date" name="Hasta" class="form-control" />
                        <span for="Hasta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Buscar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="crearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearModalLabel">Crear Contrato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Inquilino</label>
                        <select class="form-control" name="IdInquilino">
                            @foreach (var item in (IList<Inquilino>)ViewBag.Inquilinos)
                            {
                                <option value="@item.idInquilino">@(item.nombre + " " + item.apellido)</option>
                            }
                        </select>
                        <span for="IdInquilino" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="FechaDesde" class="control-label">Fecha Ingreso</label>
                        <input type="date" name="FechaDesde" class="form-control" id="desdeNew" />
                        <span for="FechaDesde" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="FechaHasta" class="control-label">Fecha Salida</label>
                        <input type="date" name="FechaHasta" class="form-control" id="hastaNew" />
                        <span for="FechaHasta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Buscar" class="btn btn-primary" onclick="buscar(0);" />
                    </div>
                    <div class="form-group" id="ocultoNew" style="display: none;">
                        <label class="control-label">Inmueble</label>
                        <select class="form-control" id="selectNew" name="IdInmueble">
                        </select>
                        <span for="IdInmueble" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Garante</label>
                        <select class="form-control" name="IdGarante">
                            @foreach (var item in (IList<Garante>)ViewBag.Garantes)
                            {
                                <option value="@item.Id">@(item.Nombre + " " + item.Apellido)</option>
                            }
                        </select>
                        <span for="IdGarante" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Precio" class="control-label">Precio</label>
                        <input name="Precio" class="form-control" />
                        <span for="Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="@item.Id-Id">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <input type="hidden" value="@item.IdInquilino" id="@item.Id-IdInquilino" />
                    @item.Inquilino.nombre @item.Inquilino.apellido
                </td>
                <td>
                    <input type="hidden" value="@item.IdInmueble" id="@item.Id-IdInmueble" />
                    @item.Inmueble.Direccion
                </td>
                <td id="@item.Id-FechaDesde">
                    @item.FechaDesde.Date.ToString("dd-MM-yyyy")
                </td>
                <td id="@item.Id-FechaHasta">
                    @item.FechaHasta.Date.ToString("dd-MM-yyyy")
                </td>
                <td>
                    <input type="hidden" value="@item.IdGarante" id="@item.Id-IdGarante" />
                    @item.Garante.Nombre @item.Garante.Apellido
                </td>
                <td id="@item.Id-Precio">
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td id="@item.Id-Estado">
                    <input type="hidden" id="EstadoV" value="@item.Estado" />
                    <form asp-action="Edit">
                        <input type="hidden" name="Id" value='@item.Id' />
                        <input type="hidden" name="Estado" value='1' />
                        <input type=@(item.Estado == 0 ? "submit" : "hidden") value='Cancelar' class='btn btn-primary' onclick='return seguro();' />
                    </form>

                    <input type=@(item.Estado == 1 ? "button" : "hidden") value='Informe' class='btn btn-primary' onclick='calcular("@item.Id", "@item.Precio", "@item.FechaCancelado")' />
                </td>

                <td>
                    <div class="btn-group" role="group" aria-label="">
                        <a class="btn btn-primary" href="javascript:editar(@item.Id)" title="Editar">

                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-primary" asp-action="details" asp-route-id="@item.Id" title="Detalles"><i class="fas fa-info-circle"></i></a>
                        <a class="btn btn-danger" asp-action="delete" asp-route-id="@item.Id" title="Eliminar"><i class="fas fa-trash"></i></a>
                        <a class="btn btn-primary" asp-action="Index" asp-controller="Pago" asp-route-id="@item.Id" title="Pagos"><i class="fas fa-shopping-cart"></i> </a>
                    </div>





                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Contrato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <input type="hidden" id="Id" name="Id" value="" />
                    <input type="hidden" id="EstadoE" name="Estado" value="" />
                    <div class="form-group">
                        <label class="control-label">Inquilino</label>
                        <select class="form-control" name="IdInquilino" id="IdInquilino">
                            @foreach (var item in (IList<Inquilino>)ViewBag.Inquilinos)
                            {
                                <option value="@item.idInquilino">@(item.nombre + " " + item.apellido)</option>
                            }
                        </select>
                        <span for="IdInquilino" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="FechaDesde" class="control-label">Fecha Ingreso</label>
                        <input type="date" name="FechaDesde" class="form-control" id="FechaDesde" />
                        <span for="FechaDesde" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="FechaHasta" class="control-label">Fecha Salida</label>
                        <input type="date" name="FechaHasta" class="form-control" id="FechaHasta" />
                        <span for="FechaHasta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Buscar" id="btnEdit" class="btn btn-primary" onclick="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Inmueble</label>
                        <select class="form-control" name="IdInmueble" id="IdInmueble" required>
                        </select>
                        <span for="IdInmueble" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Garante</label>
                        <select class="form-control" name="IdGarante" id="IdGarante" required>
                            @foreach (var item in (IList<Garante>)ViewBag.Garantes)
                            {
                                <option value="@item.Id">@(item.Nombre + " " + item.Apellido)</option>
                            }
                        </select>
                        <span for="IdGarante" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Precio" class="control-label">Precio</label>
                        <input name="Precio" class="form-control" id="precioEdit" />
                        <span for="Precio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Editar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_DataTable");}

}
